In [20]:
import pandas as pd
import numpy as np
import nltk
#import spacy
import emoji

In [17]:
from nltk.tokenize import TweetTokenizer

source: https://www.nltk.org/api/nltk.tokenize.html

In [2]:
#df = pd.read_csv('user_based/data/01_cleaned/reddit_user_df.csv')
#df[:3]

In [28]:
#f = open("user_based/data/01_cleaned/twitter_user_df", "r")
#print(f.read(200))

In [4]:
df = pd.read_csv('Mar21-vaccine-uptake-main 2/data/twitter/twitter_data_cleaned.csv')
df

,tweet_id,created_at,full_text,geo,coordinates,place,retweet_count,favorite_count,possibly_sensitive,lang,user_id
0,1.364223e+18,2021-02-23 14:38:16+00:00,Here‚Äôs what's in the COVID relief package:\n¬†\...,NaN,NaN,NaN,9160,38093,NOT FOUND,en,2.950125e+07
1,1.364381e+18,2021-02-24 01:07:52+00:00,Will the National Endowment for the Arts be he...,NaN,NaN,NaN,6131,18560,NOT FOUND,en,1.201671e+18
2,1.364610e+18,2021-02-24 16:14:15+00:00,"This is both anecdotal and early, but many lon...",NaN,NaN,NaN,5941,63174,NOT FOUND,en,3.842872e+07
3,1.364727e+18,2021-02-24 23:59:58+00:00,A Link to Professor Chossudovsky‚Äôs Analysis of...,NaN,NaN,NaN,1,0,False,en,2.192010e+09
4,1.364727e+18,2021-02-24 23:59:58+00:00,Children warned over hugging grandparents even...,NaN,NaN,NaN,0,2,False,en,2.868190e+09
...,...,...,...,...,...,...,...,...,...,...,...
51152,1.366553e+18,2021-03-02 00:55:24+00:00,EU - GERMANY ....and the beat goes on.... Wher...,NaN,NaN,NaN,2,2,NOT FOUND,en,7.250928e+17
51153,1.366549e+18,2021-03-02 00:42:14+00:00,@satyendrajain @ArvindKejriwal @DrKKAggarwal ...,NaN,NaN,NaN,0,0,NOT FOUND,en,3.052016e+09
51154,1.366547e+18,2021-03-02 00:31:41+00:00,Do it the Coward and Liar way. Get vaccinated ...,NaN,NaN,NaN,0,1,False,en,1.324768e+18
51155,1.366544e+18,2021-03-02 00:20:03+00:00,Trump urges supporters to get vaccinated again...,NaN,NaN,NaN,8,32,False,en,2.443156e+07
51156,1.366543e+18,2021-03-02 00:16:03+00:00,"Courtesy of @voxdotcom, so important to realiz...",NaN,NaN,NaN,0,2,False,en,1.991185e+08

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51157 entries, 0 to 51156
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            51157 non-null  float64
 1   created_at          51157 non-null  object
 2   full_text           51157 non-null  object
 3   geo                 77 non-null     object
 4   coordinates         77 non-null     object
 5   place               1005 non-null   object
 6   retweet_count       51157 non-null  int64
 7   favorite_count      51157 non-null  int64
 8   possibly_sensitive  51157 non-null  object
 9   lang                51157 non-null  object
 10  user_id             51157 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 4.3+ MB

source : https://www.nltk.org/

# Testing EMOJI

In [10]:
print(emoji.emojize('Python is :thumbs_up:'))

Python is üëç

In [11]:
sentence = """At eight o'clock on Thursday morning
... Arthur didn't feel very good."""

In [15]:
sentence

"At eight o'clock on Thursday morning\nArthur didn't feel very good."

In [22]:
tknzr = TweetTokenizer()

In [23]:
tknzr.tokenize(sentence)

['At',
 'eight',
 "o'clock",
 'on',
 'Thursday',
 'morning',
 'Arthur',
 "didn't",
 'feel',
 'very',
 'good',
 '.']

# Tweet TOKENIZER Tester

In [24]:
tknzr = TweetTokenizer(strip_handles=True, reduce_len=True)
s1 = '@remy: This is waaaaayyyy too much for you!!!!!!'
tknzr.tokenize(s1)

[':', 'This', 'is', 'waaayyy', 'too', 'much', 'for', 'you', '!', '!', '!']

source: https://www.nltk.org/api/nltk.tokenize.html

In [26]:
s2 = "This is a cooool #dummysmiley: :-) :-P <3 and some arrows < > -> <--"

In [27]:
tknzr.tokenize(s2)

['This',
 'is',
 'a',
 'coool',
 '#dummysmiley',
 ':',
 ':-)',
 ':-P',
 '<3',
 'and',
 'some',
 'arrows',
 '<',
 '>',
 '->',
 '<--']